{% extends "twigs/utility_template.twig" %}
{% block content %}
	<h1 class="h2">{{ "Almost done, %s!"|format( edit_user.first_name ) }}</h1>
	<p class="lead">We need a bit more information about you</p>
	<hr>
	<form action="/user/register_profile_save" method="post" class="text-left auto-submit">
		<div class="form-group">
			<input class="form-control" type="text" placeholder="Location" name="location" value="{{ edit_user.location }}">
		</div>
		<div class="form-group">
			<textarea class="form-control" type="text" placeholder="Tell us a little about yourself, this will be displayed on your public profile" name="bio">{{ edit_user.bio }}</textarea>
		</div>
		<div class="form-group">
			<label>What is your mother language?</label>
			<select class="language-select" name="mother_language_id" data-selected-id="{{ edit_user.mother_language_id }}" data-placeholder="Select a language...">
				<option value="">None</option>
			</select>
		</div>
		<div class="form-group">
			<label>What other languages are you fluent in?</label>
			<select class="language-select" multiple name="languages[]" data-selected-ids="{{ edit_user.languages|join( "|" ) }}" data-placeholder="Select languages...">
				<option value="">None</option>
			</select>
		</div>
		<div class="form-group text-left">
			<div class="form-check">
				<input class="form-check-input" type="checkbox" value="1" name="pro_translator" id="pro_translator" {{ edit_user.pro_translator ? "checked" : "" }}>
					<label class="form-check-label" for="pro_translator">I'm a professional translator</label>
			</div>
		</div>
		<div class="form-group">
			<label for="skills">Other skills</label>
			<select id="skills" class="skills-select" multiple name="skills[]" data-placeholder="Select skills...">
				{% for skill in skills %}
					$selected = in_array( $skill, $selected_skills ) ? "selected" : "";
					<option {{ skill in edit_user.skills ? "selected" : "" }}>{{ skill }} </option>;
				{% endfor %}
			</select>
		</div>
		<button class="btn btn-lg btn-block btn-primary" role="button" type="submit">
			Continue
		</button>
	</form>
{% endblock %}
