{% extends "twigs/template.twig" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center mt-5">
			<div class="col-lg-3 mb-3">
				<ul class="nav nav-tabs flex-lg-column">
					<li class="nav-item">
						<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="password-tab" data-toggle="tab" href="#password" role="tab">Password</a>
					</li>
					{% if is_admin_edit %}
						<li class="nav-item">
							<a class="nav-link" id="permissions-tab" data-toggle="tab" href="#permissions" role="tab">Permissions</a>
						</li>
					{% endif %}
					{% if not is_admin_edit %}
						<li class="nav-item">
							<a class="nav-link" id="advanced-tab" data-toggle="tab" href="#advanced" role="tab">Advanced</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<div class="col-xl-8 col-lg-9">
				<div class="card">
					<div class="card-body">
						<div class="tab-content">
							<div class="tab-pane fade show active" role="tabpanel" id="profile">
								<div class="media mb-4">
									<img alt="Image" src="https://www.gravatar.com/avatar/{{ edit_user.image }}?s=144&d=mp" class="avatar avatar-lg" />
									<div class="media-body ml-3">
										<strong>Profile picture</strong><br>
										<small>To change profile picture, visit <a href="https://en.gravatar.com/">Gravatar.com</a></small>
									</div>
								</div>
								<!--end of avatar-->
								<form class="auto-submit" action="/account/save" method="post" autocomplete="off">
									<div class="form-group row align-items-center">
										<label class="col-3">First Name</label>
										<div class="col">
											<input type="text" placeholder="First name" value="{{ edit_user.first_name }}" name="first_name" class="form-control" required />
										</div>
									</div>
									<div class="form-group row align-items-center">
										<label class="col-3">Last Name</label>
										<div class="col">
											<input type="text" placeholder="Last name" value="{{ edit_user.last_name }}" name="last_name" class="form-control" />
										</div>
									</div>
									<div class="form-group row align-items-center">
										<label class="col-3">Email</label>
										<div class="col">
											<input type="email" placeholder="Enter email address" name="email" value="{{ edit_user.email }}" class="form-control" required />
										</div>
									</div>
									<div class="form-group row align-items-center">
										<label class="col-3">Location</label>
										<div class="col">
											<input type="text" placeholder="Enter location" name="location" value="{{ edit_user.location }}" class="form-control" />
										</div>
									</div>
									<div class="form-group row">
										<label class="col-3">Bio</label>
										<div class="col">
											<textarea type="text" placeholder="Tell us a little about yourself" name="bio" class="form-control" rows="4">{{ edit_user.bio }}</textarea>
											<small>This will be displayed on public profile</small>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-3">Mother language</label>
										<div class="col">
											<select class="language-select" name="mother_language_id" data-selected-id="{{ edit_user.mother_language_id }}" data-placeholder="Select a language...">
												<option value="">None</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-3">Fluent languages</label>
										<div class="col">
											<select class="language-select" multiple name="languages[]" data-selected-ids="{{ edit_user.languages|join("|") }}" data-placeholder="Select languages...">
												<option value="">None</option>
											</select>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-3"></label>
										<div class="col form-check">
											<input class="form-check-input" type="checkbox" value="1" name="pro_translator" id="pro_translator" {% if edit_user.pro_translator %}checked="checked"{% endif %}>
											<label class="form-check-label" for="pro_translator">I'm a professional translator</label>
										</div>
									</div>
									<div class="form-group row">
										<label class="col-3">Other skills</label>
										<div class="col">
											<select class="skills-select" multiple name="skills[]" data-placeholder="Select skills..." data-selected-ids="{{ edit_user.skills|join("|") }}">
												{% for skill in skills %}
													<option {% if skill in edit_user.skills %}selected{% endif %}>{{ skill }}</option>
												{% endfor %}
											</select>
										</div>
									</div>
									<input type="hidden" name="id" value="{{ edit_user.id }}">
									<div class="row justify-content-end">
										<button type="submit" class="btn btn-primary mr-2">Save</button>
									</div>
								</form>
							</div>
							<div class="tab-pane fade" role="tabpanel" id="password">
								<form action="/account/save_password" method="post" class="auto-submit">
									{% if not user.is_admin %}
										<div class="form-group row align-items-center">
											<label class="col-3">Current Password</label>
											<div class="col">
												<input type="password" placeholder="Enter current password" name="current_password" class="form-control" />
											</div>
										</div>
									{% endif %}
									<div class="form-group row align-items-center">
										<label class="col-3">New Password</label>
										<div class="col">
											<input type="password" placeholder="Enter a new password" name="new_password" class="form-control" />
											<small>Password must be at least 8 characters long</small>
										</div>
									</div>
									<div class="form-group row align-items-center">
										<label class="col-3">Confirm Password</label>
										<div class="col">
											<input type="password" placeholder="Confirm new password" name="confirm_password" class="form-control" />
										</div>
									</div>
									<input type="hidden" name="id" value="{{ edit_user.id }}">
									<div class="row justify-content-end">
										<button type="submit" class="btn btn-primary mr-2">Change Password</button>
									</div>
								</form>
							</div>
							{% if not is_admin_edit %}
								<div class="tab-pane fade" role="tabpanel" id="advanced">
									<form action="/user/delete" method="post" class="auto-submit">
										<button type="submit" class="p-0 btn btn-link text-danger confirm-dialog" data-confirm-message="Are you sure? This cannot be undone!">Delete my account</button>
										<br><small>WARNING: this can never be undone. All your personal information will be immediately deleted, but contributed content including comments and translations will remain.</small>
									</form>
								</div>
							{% endif %}
							{% if is_admin_edit %}
								<div class="tab-pane fade" role="tabpanel" id="permissions">
									<form action="/user/save_permissions" method="post" class="auto-submit">
										<h6>Site Permissions</h6>
										<div class="form-group row align-items-center">
											<label class="col-3">Permission level</label>
											<div class="col">
												<div class="input-group">
													<select name="group_id" class="custom-select">
														{% for group in permission_groups %}
															<option {{ (group.id == user_group_id )? "selected" : "" }} value="{{ group.id }}">{{ group.description }}</option>
														{% endfor %}
													</select>
												</div>
											</div>
										</div>
										<hr>
										<h6>{{ edit_user.first_name ~ " " ~ edit_user.last_name }} contributes to the following projects</h6>
										{% for project in membership %}
											<a href="/projects/{{ project.project_id }}" target="_blank">{{ project.product_name ~ " (" ~ project.language_name ~ ") " }}</a><span class="badge badge-light text-secondary ml-1">{{ project.member_type }}</span>
										{% endfor %}
										<input type="hidden" name="user_id" value="{{edit_user.id}}">
										<div class="row justify-content-end">
											<button type="submit" class="btn btn-primary mr-2">Save Permissions</button>
										</div>
									</form>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
