{% extends "twigs/template.twig" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11">
				<div class="page-header clearfix">
					<h1>{{ section.name }}</h1>
				</div>
				<hr>
				<div class="content-list-body">
					{% for p in content  %}
						<div class="card-list editor-item" id="p{{ p.id }}" data-content-id="{{ p.id }}" data-project-id="{{ project.id }}">
							<div class="card-list-body row">
								<div class="col-md-6">
									{{ p.content }}<br><br>
								</div>
								<div class="col-md-6 textarea-wrapper">
									<div class="locked-status {{ p.total_approvals == 0 ? "hidden": '' }}">
										<small class="status-locked"><i class="material-icons text-small align-middle">lock</i> locked for translators </small>
										<span class="float-right badge badge-secondary"><span class="approval_count">{{ p.total_approvals }}</span>/{{ num_required_approvals }}</span>
									</div>
									{% for error in p.errors  %}
										<div class="alert alert-warning revision-request" data-log-id="{{ error.id }}">
											{{ error.comment }}
											{% if can_review %}
												<button class="btn btn-outline-secondary btn-sm float-right resolve-error">Resolve</button>
											{% endif %}
										</div>
									{% endfor %}
									<div class="form-group">
										<textarea class="form-control {% if project.text_rtl %} text-rtl{% endif %}" {{ ( not can_commit or p.total_approvals > 0 and not can_always_commit ) ? "disabled": '' }}  rows="{{ p.textarea_height }}">{{ p.latest_revision }}</textarea>
									</div>
									<nav class="clearfix">
										<div class="form-group float-left">
											{% if( can_always_commit or ( can_commit and p.total_approvals == 0 ) ) %}
												<button class="btn btn-outline-success btn-sm commit-paragraph">Commit</button>
											{% endif %}
											{% if can_review %}
												<div class="dropdown d-inline-block">		
													<button class="btn btn-outline-{{ p.user_has_approved ? "success" : "secondary" }} btn-sm dropdown-toggle review-toggle" type="button" data-toggle="dropdown">{{ p.user_has_approved? "Approved" : "Review" }}</button>
													<div class="dropdown-menu">
														{% if not p.is_approved and not p.user_has_approved %}
															<a class="dropdown-item approve-paragraph">Approve</a>
														{% endif %}
														<a class="dropdown-item request-revision">Request Revision</a>
													</div>
												</div>
											{% endif %}
										</div>
										<div class="form-group float-right">
											<button class="btn btn-outline-secondary btn-sm" data-toggle="collapse" data-target="#{{ "p_%s_revisions"|format(p.id) }}">{{ p.total_revisions == 1 ? "1 revision" : "%s revisions"|format( p.total_revisions ) }}</button>
											{% if can_auto_translate %}
												<button class="btn btn-sm btn-outline-primary auto-translate {{ p.latest_revision|length == 0 ? "" : "hidden" }}">Auto Translate</button>
											{% endif %}
										</div>
									</nav>
									<div id="{{ "p_%s_revisions"|format( p.id ) }}" class="collapse">
										<div class="accordion" id="{{ "p_%s_revisions_accordian"|format( p.id ) }}">
											{% for revision in p.revisions  %}
												<div class="card mb-0 revision">
													<div class="card-header p-2 revision-header">
														<img alt="Image" src="https://www.gravatar.com/avatar/{{ md5email }}?s=60&d=mp" class="avatar mr-1" />
														{{ revision.first_name ~ " " ~ revision.last_name }}
														<time class="text-small float-right" datetime="{{ revision.created_at }}">{{ revision.created_at_formatted }}</time>
													</div>
													<div class="revision-content collapse">
														<div class="card-body text-small p-2">
															{{ revision.diff|raw }}
															{% if ( can_always_commit or is_reviewer ) and not loop.first %}
																<p><button class="restore-revision btn btn-outline-secondary btn-xs mt-1" data-id="{{ revision.id }}">Restore this revision</button></p>
															{% endif %}
														</div>
													</div>
												</div>
											{% endfor %}
										</div>
									</div>
									<div class="response"></div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	{% if(can_review) %} 
		<form class="modal fade auto-submit" action="/editor/suggest_revision" id="suggest-revision-form" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">Suggest Revision</h5>
						<button type="button" class="close btn btn-round" data-dismiss="modal">
							<i class="material-icons">close</i>
						</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<textarea class="form-control col" name="comment" placeholder="What needs revising?"></textarea>
						</div>
						<input type="hidden" name="content_id">
						<input type="hidden" name="project_id">
					</div>
					<div class="modal-footer">
						<button role="button" class="btn btn-primary" type="submit">
							Submit
						</button>
					</div>
				</div>
			</div>
		</form>
	{% endif %}
{% endblock %}