{% extends "twigs/template.twig" %}

{% block content %}
	<div class="container">
	<div class="row justify-content-center">
		<div class="col-xl-10 col-lg-11">
			<div class="page-header clearfix">
				<img src="/uploads/{{ product.cover_image }}" width="140" class="float-left mr-3 rounded">
				<div class="d-flex justify-content-between align-items-center">
					<h2>{{ product.name }}</h2>
					{% if user.is_admin %}
						<a href="/products/edit/{{ product.id }}" class="btn btn-sm btn-secondary float-right"><i class="material-icons align-top text-small">edit</i> Edit</a>
					{% endif %}
				</div>
				<p>{{ product.description }}</p>
				{% if product.type %}
					<span class="text-small pr-2"><strong>Type</strong>: {{ product.type|capitalize }}</span>
				{% endif %}
				{% if product.author %}
					<span class="text-small pr-2"><strong>Author</strong>: {{ product.author }}</span>
				{% endif %}
				{% if product.page_count %}
					<span class="text-small pr-2"><strong>Pages</strong>: {{ product.page_count }}</span>
				{% endif %}
			</div>
			<hr>
			<ul class="nav nav-tabs nav-fill mb-3">
				<li class="nav-item">
					<a class="nav-link active" data-toggle="tab" href="#product-languages" role="tab">Languages</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-toggle="tab" href="#product-specs" role="tab">Specifications</a>
				</li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="product-languages" role="tabpanel">
					<div class="content-list-head d-flex">
						<h3>Languages</h3>
						<div class="float-right d-none d-sm-block">
							{% if user.is_admin %}
								<button class="btn btn-secondary" data-toggle="modal" data-target="#add-file-form">Upload File</button>
								<a class="btn btn-secondary" href="/products/download_idml/{{ product.id }}/">Download as IDML</a>
							{% endif %}
							{% if user %}
								<button class="btn btn-secondary" data-toggle="modal" data-target="#add-project-form">Start New Translation</button>
							{% endif %}
						</div>
					</div>
					<div class="content-list-body">
						<div class="card-list">
							<div class="card-list-body">
								{% for language in languages  %}
									<div class="card card-task">
										{% if language.project is defined %}
											<div class="progress">
												<div class="progress-bar bg-danger" role="progressbar" style="width: {{ language.project.percent_complete }} %"></div>
											</div>
										{% endif %}
											
										<div class="card-body">
											<div class="card-title">
												<h6 data-filter-by="text">{{ language.language_name }}</h6>
												<div class="d-flex align-items-center">
													<span>{{ language.project.status ? language.project.status : "" }}</span>
												</div>
											</div>
											<div class="card-meta">
												{% if language.attachments is defined %}
													{% if user %}
														<div class="dropdown">
															<button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown">
																Download
															</button>
															<div class="dropdown-menu">
																{% for attachment in language.attachments  %}
																	<a class="dropdown-item" href="/uploads/{{ attachment.file }}">{{ attachment.file_type }}</a>
																{% endfor %}
															</div>
														</div>
													{% else %}
														<a href="/login" class="text-secondary">Login to download</a>
													{% endif %}
												{% else %}
													<a href="/projects/{{ language.project.id }}" class="btn btn-secondary">Start Translating</a>
												{% endif %}
											</div>
										</div>
									</div>
								{% endfor %}
								{% if languages|length < 1 %}
									<p>This product is not yet available in any languages.</p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="product-specs" role="tabpanel">
					{% if product.type %}
						<dl class="row">
							<dt class="col-sm-4">Product type</dt>
							<dd class="col-sm-8">{{ product.type|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.author %}
						<dl class="row">
							<dt class="col-sm-4">Author(s)</dt>
							<dd class="col-sm-8">{{ product.author|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.publisher %}
						<dl class="row">
							<dt class="col-sm-4">Publisher</dt>
							<dd class="col-sm-8">
								{% if product.publisher_website %}
									<a href="{{ product.publisher_website|capitalize }}" target="_blank">{{ product.publisher|capitalize }}</a>
								{% else %}
									{{ product.publisher|capitalize }}
								{% endif %}
							</dd>
						</dl>
					{% endif %}
					{% if product.page_count %}
						<dl class="row">
							<dt class="col-sm-4">Page count</dt>
							<dd class="col-sm-8">{{ product.page_count|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.audience %}
						<dl class="row">
							<dt class="col-sm-4">Audience</dt>
							<dd class="col-sm-8">{{ product.audience|join(', ')|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.format_open %}
						<dl class="row">
							<dt class="col-sm-4">Format (open)</dt>
							<dd class="col-sm-8">{{ product.format_open|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.format_open %}
						<dl class="row">
							<dt class="col-sm-4">Format (closed)</dt>
							<dd class="col-sm-8">{{ product.format_closed|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.cover_colors %}
						<dl class="row">
							<dt class="col-sm-4">Colors (cover)</dt>
							<dd class="col-sm-8">{{ product.cover_colors|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.interior_colors %}
						<dl class="row">
							<dt class="col-sm-4">Colors (interior)</dt>
							<dd class="col-sm-8">{{ product.interior_colors|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.cover_paper %}
						<dl class="row">
							<dt class="col-sm-4">Paper (cover)</dt>
							<dd class="col-sm-8">{{ product.cover_paper|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.interior_paper %}
						<dl class="row">
							<dt class="col-sm-4">Paper (interior)</dt>
							<dd class="col-sm-8">{{ product.interior_paper|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.binding %}
						<dl class="row">
							<dt class="col-sm-4">Binding</dt>
							<dd class="col-sm-8">{{ product.binding_name|capitalize }}</dd>
						</dl>
					{% endif %}
					{% if product.finishing %}
						<dl class="row">
							<dt class="col-sm-4">Finishing</dt>
							<dd class="col-sm-8">{{ product.finishing|capitalize }}</dd>
						</dl>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
<form class="modal fade auto-submit" action="/projects/add" id="add-project-form" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Start New Translation</h5>
				<button type="button" class="close btn btn-round" data-dismiss="modal">
					<i class="material-icons">close</i>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row align-items-center">
					<label class="col-3">Language</label>
					<select class="language-select col" name="language_id" data-placeholder="Select a language...">
						<option value="">None</option>
					</select>
				</div>
				<input type="hidden" name="product_id" value="{{ product.id }}">
			</div>
			<div class="modal-footer">
				<button role="button" class="btn btn-primary" type="submit">
					Start Translation
				</button>
			</div>
		</div>
	</div>
</form>

<form class="modal fade auto-submit" action="/products/add_file" id="add-file-form"  tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Upload File</h5>
				<button type="button" class="close btn btn-round" data-dismiss="modal">
					<i class="material-icons">close</i>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group row align-items-center">
					<label class="col-3">File type</label>
					<select class="col form-control" name="file_type" data-placeholder="Select a file type...">
						{% for key, type in file_types  %}
							<option value="{{ key }}">{{ type }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="form-group row align-items-center">
					<label class="col-3">Language</label>
					<select class="language-select col" name="language_id" data-placeholder="Select a language...">
						<option value="">None</option>
					</select>
				</div>
				<div class="input-group mt-2">
					<div class="custom-file">
						<input type="file" class="custom-file-input" id="file" name="file">
						<label class="custom-file-label" for="file">Choose file</label>
					</div>
				</div>

				<input type="hidden" name="product_id" value="{{ product.id }}">
			</div>
			<div class="modal-footer">
				<button role="button" class="btn btn-primary" type="submit">
					Upload File
				</button>
			</div>
		</div>
	</div>
</form>
{% endblock %}
