{% extends "twigs/template.twig" %}

{% block content %}
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-xl-10 col-lg-11">
				<div class="page-header">
					<h1>{{ product.name }} <span class="badge badge-secondary text-light ml-1">{{ project.language_name }}</span></h1>
					<p class="lead">{{ product.description }}</p>
					<div class="d-flex align-items-center">
						<ul class="avatars">
							{% for member in members  %}
								<li>
									<a href="#" data-toggle="tooltip" data-placement="top" title="{{ member.first_name ~ " " ~ member.last_name }}">
										<img class="avatar" src="{{ member.avatar }}"/>
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
					<div>
						<div class="progress">
							<div class="progress-bar bg-success" style="width:{{ project.percent_complete }}%;"></div>
						</div>
						<div class="d-flex justify-content-between text-small">
							<div class="d-flex align-items-center">
								<i class="material-icons">playlist_add_check</i>
								<span>{{ project.completed_strings ~ " / " ~ project.total_strings ~ " (" ~ project.percent_complete ~ "%)" }}</span>
							</div>
							<span>{{ project.status }}</span>
						</div>
					</div>
				</div>
				<ul class="nav nav-tabs nav-fill" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" data-toggle="tab" href="#content" role="tab">Content</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-toggle="tab" href="#members" role="tab">Contributors</a>
					</li>
				</ul>
				
				<div class="tab-content">
					<div class="tab-pane fade show active" id="content" role="tabpanel">
						<div class="row content-list-head">
							<div class="col-auto">
								<h3>Content</h3>
							</div>
						</div>
						<div class="content-list-body">
							<div class="card-list">
								<div class="card-list-body">
									{% for section in sections  %}
										<div class="card card-task">
											<div class="progress">
												<div class="progress-bar bg-success" role="progressbar" style="width: {{ section.percent_complete }}%"></div>
											</div>
											<div class="card-body">
												<div class="card-title">
													<a href="/editor/{{ project.id ~ '/' ~ section.id }}">
														<h6 data-filter-by="text">{{ section.name }}</h6>
													</a>
													<div class="d-flex align-items-center">
														<i class="material-icons">playlist_add_check</i>
														<span>{{ section.completed_strings ~ "/" ~ section.total_strings }}</span>
													</div>
												</div>
												<div class="card-meta">
													<a href="/editor/{{ project.id ~ "/" ~ section.id }}" class="btn btn-secondary">Start Translating</a>
												</div>
											</div>
										</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>
					<div class="tab-pane fade show" id="members" role="tabpanel">
						<div class="content-list">
							<div class="row content-list-head">
								<div class="col-auto">
									<h3>Contributors</h3>
									{% if can_manage_members %}
										<button class="btn btn-round" data-toggle="modal" data-target="#member-add-modal">
											<i class="material-icons">add</i>
										</button>
									{% endif %}
								</div>
							</div>
							<div class="content-list-body row">
								{% for member in members  %}
									<div class="col-6">
										<a class="media media-member">
											<img class="avatar avatar-lg" src="{{ member.avatar }}"/>
											<div class="media-body">
												<h6 class="mb-0" data-filter-by="text">{{ member.invite_email ?? member.first_name ~ " " ~ member.last_name }}{% if member.invite_email %}<span class="badge badge-secondary">invited</span>{% endif %}</h6>
												<span data-filter-by="text" class="text-body">{{ member.type|capitalize }}</span>
											</div>
										</a>
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<form class="modal fade" id="member-add-modal" data-project-id="{{ project.id }}" tabindex="-1" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Add Member</h5>
					<button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
						<i class="material-icons">close</i>
					</button>
				</div>
				<div class="modal-body">
					<div class="user-search">
						<div class="input-group input-group-round">
							<div class="input-group-prepend">
								<span class="input-group-text">
									<i class="material-icons">filter_list</i>
								</span>
							</div>
							<input type="search" class="form-control search" placeholder="Find users by name or email" {{ user.is_admin ? "data-is-admin='true'" : '' }} data-project-id="{{ project.id }}">
						</div>
						<div class="form-group-users user-list" style="overflow:visible"></div>
					</div>
				</div>
			</div>
		</div>
	</form>

{% endblock %}
